In [2]:
from .config import sql_pass
# import config
# from config2 import sql_pass

ImportError: attempted relative import with no known parent package

In [ ]:
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify

In [ ]:
engine = create_engine(f'postgresql://postgres:{sql_pass}@localhost/NBA')
conn=engine.connect()
results=conn.execute("SELECT * from salary")

In [ ]:
for result in results:
    print(result)

In [ ]:
query="""
SELECT player, team, sum(salary)
FROM public.salary
group by player, team
"""
results=conn.execute(query)
for result in results:
    print(result)

In [ ]:
query2="""
SELECT team, sum(salary) as "Total Salary Paid"
FROM public.salary
group by team
"""
results=conn.execute(query2)
for result in results:
    print(result)

In [ ]:
query3="""
SELECT  s.team, t.win, t.loss, sum(s.salary)
FROM public.salary s, team_stats t
where s.team = t.team
group by s.team, t.win, t.loss
order by s.team
"""
results=conn.execute(query3)
for result in results:
    print(result)

In [ ]:
query4="""

select stats.player, salary.salary, stats.points_per_game, ROUND(stats.total_games * stats.points_per_game)
as "totalpoints", ROUND(salary.salary/stats.points_per_game) as "bangforbuck"
from stats, salary where stats.player = salary.player and stats.points_per_game > 0
group by stats.player, salary.salary, stats.points_per_game, totalpoints, bangforbuck
order by stats.player ;
"""
results=conn.execute(query4)
for result in results:
    print(result)